body {
  background-image: url(./img/backgroundimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-div{
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.textarea{
  resize: none;
}

.feedback-form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}